<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">  
      <ion-menu-button color="dark" style="zoom:1.5"></ion-menu-button>   
    </ion-buttons>  
    <ion-title>  
      <ion-img src="../assets/images/home-page/main-logo.svg" style="width:10em"></ion-img>
    </ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="empty" *ngIf="sqlite.FAVS.length == 0">
    <h1>You dont have favorites gigs!</h1>
  </div>

  <ion-list *ngIf="sqlite.FAVS.length > 0">
    <h1 class="main-title">Favorites Gigs List</h1>
    <ion-item *ngFor="let gig of sqlite.FAVS" [routerLink]="'/details/' + gig.id">
      <ion-thumbnail slot="start">
        <ion-img src="{{gig.image}}"></ion-img>
      </ion-thumbnail>
      <ion-label class="gig-name">{{ gig.name }}</ion-label>
      <ion-icon name="star-outline" style="color: #FFFF00; display: flex; justify-content: end;"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
