<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">  
      <ion-menu-button color="dark" style="zoom:1.5"></ion-menu-button>   
    </ion-buttons>  
    <ion-title>  
      <ion-img src="../assets/images/home-page/main-logo.svg" style="width:10em"></ion-img>
    </ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="details-container">
    <p class="gig-title">{{ gig.name }}</p>

    <ion-img src="{{ gig.image }}" class="details-image"></ion-img>

    <div class="details-content">
      <div class="details-content-items">
        <p><span class="details-content-label">Author:  </span> {{ gig.user_username }}</p>
        <p><span class="details-content-label">Description:  </span> {{ gig.desc }}</p>
        <p><span class="details-content-label">Rating:  </span> {{ gig.rating }} / 5</p>
        <p><span class="details-content-label">Price:  </span> {{ gig.price }} €</p>
      </div>
    </div>

    <div *ngIf="!getFav(gig.id) && is_authenticated">
      <ion-button (click)="addFav(gig.user_username,gig.id,gig.image)" color="warning" [routerLink]="'/favorites/'" class="favorites-button">
        <ion-icon slot="icon-only" name="star" style="color: #fff;"></ion-icon>
      </ion-button>
    </div>

    <div *ngIf="getFav(gig.id) && is_authenticated">
      <ion-button (click)="deleteFav(gig.id)" color="danger" [routerLink]="'/favorites/'" class="favorites-button">
        <ion-icon slot="icon-only" name="star" style="color: #fff;"></ion-icon>
      </ion-button>
    </div>

  </div>
</ion-content>
